
<% @posts.each do |post| %>
<div class="post-preview">
  <h2 class="post-title">
    <%= link_to post.title, post_path(post) %>
  </h2>
  <h3 class="post-content">
    <%= link_to post.content, post_path(post) %>
  </h3>
  <h4>
  <% post.categories.each do |category| %>
    <%= category.name %>
  <% end %>
  </h4>
  <p class="post-meta"><%= post.created_at %></p>
</div>
<hr>
<% end %>

<%= paginate @posts %>








