
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="text-center"><%= @post.title %></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h2>記事内容</h2>
      <hr>
      <h3 class="post-content">
        <%= @post.content %>
      </h3>
      <p class="post-meta"><%= @post.created_at %></p>
      <% if current_user.try(:admin?) %>
        <%= link_to '記事削除', post_path(@post), {method: :delete, data: {confirm: "本当に削除しますか？"}, class: 'btn btn-danger btn-xs'} %>
      <% end %>
      <hr>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h2>コメント</h2>
      <hr>
      <ul>
        <%= render partial: 'comments/comment', collection: @post.comments %>
      </ul>
    </div>
  </div>
</div>



<%= form_with(model: [@post, @comment], local: true) do |f| %>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h3 class="comment-name">
            <%= f.text_field :name %>
          </h3>
          <h3 class="comment-content">
            <%= f.text_area :content %>
          </h3>
          <%= f.submit "コメント投稿" %>
          <hr>
        </div>
      </div>
    </div>
<% end %>