<% content_for(:content) do %>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <%= link_to root_path do %>
        <span class="navbar-brand">Better Than Yesterday</span>
      <% end %>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <%= link_to new_post_path do %><span class="nav-link">New Post</span><% end %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
          <% if current_user.try(:admin?) %>
            <li class="nav-item">
              <%= link_to rails_admin_path do %><span class="nav-link">Admin</span><% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <%= yield %>
</body>
<% end %>

<%= render(file: 'layouts/application') %>